.mapContainer {
  position: relative;
  width: 100%;
  height: inherit;
}

.popup_holder {
  display: flex;
  gap: 10px;
  flex-direction: row;
  color: var(--heading-color);
  margin-bottom: 20px;
}

.popup_holder_hover {
  display: flex;
  gap: 10px;
  flex-direction: row;
  color: var(--heading-color);
}

.popup_text_main {
  font-weight: 700;
  font-size: 20px;
  color: var(--color-black);
}

.popup_button {
  background: var(--main-bg-color);
  color: white;
  box-shadow: 0px 2px 6px 0px rgba(var(--primary-rgb), 0.5);
  padding: 8px;
  border-radius: 3px;
  font-size: 13px;
  width: fit-content;
  font-weight: 700;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  /* margin-right: 10px; */
}

.settings_holder {
  position: absolute;
  width: 100vw;
  bottom: 20px;
}

.settings {
  margin: auto;
  padding: 20px;
  width: 300px;
  /* height: 100px; */
  max-width: 95vw;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0px 2px 3px 0px rgba(0.5, 0.5, 0.5, 0.1);
}

.settings_range {
  width: 100%;
}

.settings_header {
  width: 100%;
}

.settings_header_left {
  color: var(--heading-color);
  font-size: 13px;
  font-weight: 700;
}

.settings_header_right {
  font-weight: 700;
  color: var(--heading-color);
  font-size: 13px;
  float: right;
  /* opacity: 0.5; */
}

.key_holder {
  background: white;
  border-radius: 4px;
  position: absolute;
  top: 60px;
  left: 10px;
  padding: 10px;
  font-weight: 700;
  color: var(--heading-color);
  font-size: 13px;
  box-shadow: 0px 2px 3px 0px rgba(0.5, 0.5, 0.5, 0.1);
}

.key_item {
  font-weight: 500;
  color: var(--heading-color);
  font-size: 13px;
}

.key_colour {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 9px;
  margin-right: 5px;
  border-radius: 4px;
}
